input[name=search] {
    width: 500px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-image: url('../images/searchicon.png');
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
}


#search-div {
    text-align: center;
    padding: 100px;
    background-color: #2eb2ff;
    width: 1000px;
    margin: auto;
    height: 40px;
}

#searchResults {
    list-style-type: none;
    padding: 0;
    margin: 0;
    font-family: 'Bungee', cursive;
    color: #ff5c50;
}

h1 {
    font-family: 'Bungee', cursive;
    color: white;
}

li {
    margin: auto;
    width: 1152px;
    cursor: pointer;
    padding: 12px 8px 12px 40px;
    background: #eee;
    font-size: 18px;
    transition: 0.2s;
}

li:hover {
    background-color: #ddd;
}

.added {
    background-color: #888;
    color: #fff;
}
